name: Advanced ML Training (Artifacts)

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:
    
permissions:
  contents: write

jobs:
  train-model:
    runs-on: ubuntu-latest
    
    steps:
      - name: Run actions/checkout@v3
        uses: actions/checkout@v3
        
      - name: Set up Python 3.12.7
        uses: actions/setup-python@v4
        with:
          python-version: '3.12.7'

      - name: Check Env
        run: |
          echo "Checking Python version..."
          python --version
          echo "Current Directory Structure:"
          ls -R

      - name: Install dependencies
        run: |
          pip install mlflow scikit-learn pandas numpy
          
      - name: Set MLflow Tracking URI
        run: |
          echo "MLFLOW_TRACKING_URI=file://$GITHUB_WORKSPACE/mlruns" >> $GITHUB_ENV

      - name: Run mlflow project
        run: |
          mlflow run MLProject --env-manager=local
          
      - name: Install Python dependencies (Upload Prep)
        run: echo "Git is already installed. Ready to push."

      - name: Get latest MLflow run_id
        id: get_run_id
        run: |
          LATEST_RUN=$(find mlruns -mindepth 2 -maxdepth 2 -type d -printf '%T@ %P\n' | sort -n | tail -1 | awk '{print $2}' | cut -d/ -f2)
          
          echo "Found Run ID: $LATEST_RUN"
          
          if [ -z "$LATEST_RUN" ]; then
            echo "Error: Could not find any MLflow runs!"
            exit 1
          fi
          
          echo "RUN_ID=$LATEST_RUN" >> $GITHUB_ENV
    
      - name: Upload Artifacts to Repository
        run: |
          git config --global user.name "GitHub Actions"
          git config --global user.email "actions@github.com"
          
          git add mlruns/
          
          git commit -m "Auto-save model artifacts [skip ci]" || echo "No changes to commit"
          git push
          
      - name: Build Docker Model
        run: |
          mlflow models build-docker \
            --model-uri "runs:/$RUN_ID/model" \
            --name "telco-model-local"
            
      - name: Log in to Docker Hub
        run: |
          echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin
          
      - name: Tag Docker Image
        run: |
          docker tag telco-model-local ${{ secrets.DOCKER_USERNAME }}/telco-churn-workflow-ci:latest
          
      - name: Push Docker Image
        run: |
          docker push ${{ secrets.DOCKER_USERNAME }}/telco-churn-workflow-ci:latest